
.header img
{
  overflow: hidden;
  filter: blur(2px);
  width: 1370px;
  height: 450px;
}

.header h1
{
  position: absolute;
  top: 215px;
  left: 39%;
  font-size: 60px;
  font-family: 'GilroyBold', 'Montserrat', serif;
  color: white;
}

.header h2
{
  position: absolute;
  top: 175px;
  left: 42%;
  font-size: 30px;
  font-family: 'MoonLight', 'Open Sans', sans-serif;
  color: white;
}

.nav a
{
  font-size: 21px;
  margin-right: 7px;
}

.navbar a
{
  font-size: 21px;
}
