* {
  margin: 0;
  padding: 0;
}

#container{
  width: 960px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  position: relative;
  background-color: #FFF;
}

#header{
  height: 107px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center top;
}
