* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

h1 {font-size: 2em;}

#container{
  width: 100%;
  min-width: 600px;
  max-width: 1250px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  position: relative;
}

#header{
  height: 207px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image:url("../images/banner.jpg");
}

#header h1{
  padding: 10px;
  float: right;
  color: black;
  font-size: 2.5em;
  margin-right: 10px;
}

#navigation{
  float: left;
  width: 19%;
  background-color: #FFF;
}

#navigation li{
  list-style: none;
  line-height: 1.5em;
}

#navigation a{
  text-align: right;
  background-color: none;
  display: block;
  font-size: 1.5em;
  padding-right: 16px;
  line-height: 2em;
  text-decoration: none;
  color: black;
}

#navigation a:hover{
  background-color: #708DB5;
  display: block;
  color: white;
}

#navigation .current-page{
  background-color: #708DB5;
  color: white;
}

#centerDoc{
  float: right;
  width: 80%;
}
